hr{ width: 80%; }
h1{ text-align: center; }
#block-message{margin-left: auto; margin-right: auto; display: flex; align-items: center; width:100%; justify-content: center; width: 80%; border: 1px black solid; }
.info{ font-size: 1.2em; margin-top: 1em; margin-bottom: 1em; margin-right: 1em; margin-left: 1em; padding: 0px; }
#message-id{ border-right: 1px black solid; }
.read-message{ margin-left: 1em; padding: .5em; border: 1px black solid; transition: .3s; cursor: pointer; }
.read-message:hover{ background:   #5ce54f; transition: .3s; }