#contacts-block{ width: 80%; margin-right: auto; margin-left: auto; }
.contacts-personal{ width: 50%; margin-left: auto; margin-right: auto; margin-bottom: 2em; }
.contacts-personal p{ margin-left: 2em; }